# js/ts modules
node_modules/

# databases
*.db
*.sqlite
*.sqlite3

# compiled cache files
__pycache__/

# tests
.pytest_cache/

# log files
logs/
*.log

# credentials
*pems
*secrets
*credentials

# local environment variables
*.local
